
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">
  <!-- Title Page-->
    <title>Dashboard</title>
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Fontfaces CSS-->
    <link href="~/Content/adminsite/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/Content/adminsite/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Content/adminsite/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/Content/adminsite/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->


    <!-- Vendor CSS-->
    <link href="~/Content/adminsite/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/Content/adminsite/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/Content/adminsite/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/Content/adminsite/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/Content/adminsite/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/Content/adminsite/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Content/adminsite/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    @RenderSection("Scripts", false);
    <!-- Main CSS-->
    <link href="~/Content/adminsite/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
       
            <!-- HEADER DESKTOP-->
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">

                        @RenderBody()

                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
                    </div>
                </div>
            </div>

            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>




    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/dataTables.keyTable.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script>
            $(document).ready(function () {
                $('#mytable').DataTable();


            });
        </script>*@
    <!--code starting for data table keybord-->
   
    <!--code end for data table keybord-->
    <!-- Bootstrap JS-->
    <script src="~/Content/adminsite/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/Content/adminsite/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/Content/adminsite/vendor/slick/slick.min.js"></script>
    <script src="~/Content/adminsite/vendor/wow/wow.min.js"></script>
    <script src="~/Content/adminsite/vendor/animsition/animsition.min.js"></script>
    <script src="~/Content/adminsite/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="~/Content/adminsite/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/Content/adminsite/vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="~/Content/adminsite/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/Content/adminsite/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/Content/adminsite/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/Content/adminsite/vendor/select2/select2.min.js"></script>

    <!-- Main JS-->
    <script src="~/Content/adminsite/js/main.js"></script>





</body>

</html>
<!-- end document-->
